			<div id="profile-links">
				{$uinfo.username} {$lang._admin_right_welcome}
				<br />

				<br />
				<a href="index.php" title="{$lang._admin_right_Homepage}">{$lang._admin_right_Homepage}</a> | <a href="index.php?do=logout" title="{$lang._admin_right_logout}">
				{$lang._admin_right_logout}</a>
			</div>

	<ul id="main-nav">  <!-- Accordion Menu -->
				<li>
					<a href="#" class="nav-top-item {if="$sec == 'setting'"} current {/if}"> <!-- Add the class "current" to current menu item -->
						{$lang._admin_right_setting}
					</a>
					<ul>
						<!--<li><a href="setting.php?action=add">{$lang._admin_right_setting_addsetting}</a></li>-->
						<li><a href="setting.php">{$lang._admin_right_main_setting}</a></li>
						<li><a href="setting.php?do=read">{$lang._admin_right_setting_read}</a></li>
						<!--<li><a href="setting.php?do=write">{$lang._admin_right_setting_write}</a></li>-->
						<li><a href="setting.php?do=update">{$lang._admin_right_setting_update}</a></li>
					</ul>
				</li>
	</ul>
	
		

	<ul id="main-nav">  <!-- Accordion Menu -->
				<li>
					<a href="#" class="nav-top-item {if="$sec == 'posts'"} current {/if}"> <!-- Add the class "current" to current menu item -->
						{$lang._admin_right_posts}
					</a>
					<ul>
						<li><a href="posts.php">{$lang._admin_right_all_posts}</a></li>
						<li><a href="posts.php?do=new">{$lang._admin_right_new_post}</a></li>
						<li><a href="posts.php?type=category">{$lang._admin_right_all_cats}</a></li> <!-- Add class "current" to sub menu items also -->
					</ul>
				</li>
	</ul>



	<ul id="main-nav">  <!-- Accordion Menu -->
				<li>
					<a href="#" class="nav-top-item {if="$sec == 'pages'"} current {/if}"> <!-- Add the class "current" to current menu item -->
						{$lang._admin_right_pages}
					</a>
					<ul>
						<li><a href="posts.php?type=page">{$lang._admin_right_all_pages}</a></li>
						<li><a href="posts.php?type=page&do=new">{$lang._admin_right_new_page}</a></li>
					</ul>
				</li>
	</ul>
	
	

	<ul id="main-nav">  <!-- Accordion Menu -->
				<li>
					<a href="#" class="nav-top-item {if="$sec == 'comments'"} current {/if}"> <!-- Add the class "current" to current menu item -->
						{$lang._admin_right_comments}
					</a>
					<ul>
						<li><a href="group.php?do=addnew">{$lang._admin_group_addnew}</a></li>
						<li><a href="group.php?do=list">{$lang._admin_group_list}</a></li>
					</ul>
				</li>
	</ul>

	<ul id="main-nav">  <!-- Accordion Menu -->
				<li>
					<a href="#" class="nav-top-item {if="$sec == 'styles'"} current {/if}"> <!-- Add the class "current" to current menu item -->
						{$lang._admin_right_styles}
					</a>
					<ul>
						<li><a href="users.php?do=addnew">{$lang._admin_users_addnew}</a></li>
						<li><a href="users.php?do=waiting">{$lang._admin_users_waitinglist}</a></li>
						<li><a href="users.php?do=list">{$lang._admin_users_list}</a></li>
					</ul>
				</li>
	</ul>


	<ul id="main-nav">  <!-- Accordion Menu -->
				<li>
					<a href="#" class="nav-top-item {if="$sec == 'plugins'"} current {/if}"> <!-- Add the class "current" to current menu item -->
						{$lang._admin_right_plugins}
					</a>
					<ul>
						<li><a href="ext.php?do=addnew">{$lang._admin_ext_addnew}</a></li>
						<li><a href="ext.php?do=list">{$lang._admin_ext_list}</a></li>
					</ul>
				</li>
	</ul>


	<ul id="main-nav">  <!-- Accordion Menu -->
				<li>
					<a href="#" class="nav-top-item {if="$sec == 'users'"} current {/if}"> <!-- Add the class "current" to current menu item -->
						{$lang._admin_right_users}
					</a>
					<ul>
						<li><a href="pages.php?do=addnew">{$lang._admin_pages_addnew}</a></li>
						<li><a href="pages.php?do=list">{$lang._admin_pages_list}</a></li>
					</ul>
				</li>
	</ul>


	<ul id="main-nav">  <!-- Accordion Menu -->
				<li>
					<a href="#" class="nav-top-item {if="$sec == 'utils'"} current {/if}"> <!-- Add the class "current" to current menu item -->
						{$lang._admin_right_utils}
					</a>
					<ul>
						<li><a href="comments.php?do=wait">{$lang._admin_comments_wiat}</a></li>
						<li><a href="comments.php?do=list">{$lang._admin_comments_list}</a></li>
					</ul>
				</li>
	</ul>